.layal-drop-down {
  &.-js-enabled {
    >.choice {
      display: block;
      background-color: rgba(186, 186, 186, 0.64);
      margin-bottom: 0;
      padding: 1rem;
      font-size: 1.4rem;
      height: 3.4rem;
      overflow: hidden;

      &.-selectable:hover {
        text-decoration: underline;
      }

      &:first-child {
        background-position: top right;
        background-repeat: no-repeat;
        background-size: auto 100%;
      }

      >.field { // TODO
        opacity: 0;
        width: 100%;
        margin-right: -100%;
      }
    }
  }

  >.choice {
    font-weight: 400;
  }

  &.-closed {
      height: 3.4rem;
      overflow: hidden;
      z-index: 1;

    >.choice:first-child {
      background-image: url("../../img/down_arrow.png");
    } 
  }

  &.-opened {
    height: auto;
    position: relative;
    z-index: 4;
    >.choice:first-child {
      background-image: url("../../img/up_arrow.png");      
    }
  }
}